html, header, footer, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
/*general links style*/
a {
    text-decoration: none; /* Elimina el subrayado */
}
footer a:visited {
    color: white; /* Mismo color que el enlace no visitado */
}
a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}
  a:active {
    color: red; /* Color cuando se hace clic en el enlace */
}

/* ----- HEADER SECTION ----- */

header {/*header container size*/
    border-bottom: solid 2px lightgray;
    height: 130px;
}
.headerGreen {
    background: #afe08a ;
}
.header-container {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 120px;
}
.brandIcon img { 
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
.brandIcon {
    grid-column: 1;
    grid-row: 1/span 2;
    justify-content: right;
    align-items: center;
    display: flex;
    margin-right: 0;
    padding-right: 0;
}
.headerSloganH1{
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    padding: 0;
}
.headerSloganH1 H1 {
    font-size: 30px;
    font-style: italic;
}
.headerSloganH2 {
    grid-column: 4 / span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.headerSloganImg {
    grid-column: 8;
    grid-row: 1/ span 2;
    justify-content: center;
    align-items: center;
    display: flex;
}
.headerSloganImg img {
    width: 150px;
    height: 80px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerSearch {
    grid-column: 4 / span 4;
    display: flex;
    height: 40px;
}
.headerSearch input {
    width: 80%;
    height: 25px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 20px;
}
.headerSearch button {
    width: 20%;
    height: 27px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
.headerSearch button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: ease-out 0.1s;
}
.headerSearch input:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: ease-out 0.1s;
}
.headerMenuEffect:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: ease-out 0.2s;
    background-color: lightgray;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}
.header-container h3 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerTitle1 {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    height: 40px;
}
.headerTitle1 h3 {
    font-size: 15px;
}
#categoriesIcon {
    height: 25px;
    width: 25px;
    
}
.headerMenuIcons {
    grid-column: 8 / span 1;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.headerMenuIcons img {
    height: 25px;
    width: 25px;
}
.headerMenuIcons img:hover {
    transform: scale(1.5);
    transition: 0.1s ease-out;
}



/* --------------- BODY SECTION -------------- */

/* About Us section */
.aboutUsSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 1fr 1fr 30%;
    margin-top: 30px;
}
.welcomeToLuigiSectionPic img, .ourMissionSectionPic img, .ourStorySectionPic img {
    width: 80%;
    height: 80%;
    object-fit: scale-down;
}
.aboutUsTitle {
    grid-column: 1 / -1;
    background-color: rgba(245, 223, 101, 0.877);
    box-shadow: -10px -10px -30px -10px white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.aboutUsTitle::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    box-shadow: inset 0 0 10px 25px white;
    border-radius: inherit;
}
.welcomeToLuigiSection {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: #96ace2;
    box-shadow: -10px -10px -30px -10px white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.welcomeToLuigiSection::before {
        content: '';
        position: absolute;
        top: -20px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        box-shadow: inset 0 0 10px 30px white;
        border-radius: inherit;
}
.welcomeToLuigiSectionPic{
    grid-column: 3;
    grid-row: 2;
    background-color: lightgray;
    box-shadow: -10px -10px -30px -10px white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.welcomeToLuigiSectionPic::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    box-shadow: inset 0 0 10px 30px white;
    border-radius: inherit;
}
.ourMissionSection {
    grid-column: 2 / span 2;
    grid-row: 3;
    background-color: #e9a9d9;
    box-shadow: -10px -10px -30px -10px white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.ourMissionSection::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    box-shadow: inset 0 0 10px 30px white;
    border-radius: inherit;
}
.ourMissionSectionPic {
    grid-column: 1 / span 1;
    grid-row: 3;
    background-color: lightgray;
    box-shadow: -10px -10px -30px -10px white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.ourMissionSectionPic::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    box-shadow: inset 0 0 10px 30px white;
    border-radius: inherit;
}
.ourStorySectionPic {
    grid-column: 3;
    grid-row: 4;
    background-color: lightgray;
    box-shadow: -10px -10px -30px -10px white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.ourStorySectionPic::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    box-shadow: inset 0 0 10px 30px white;
    border-radius: inherit;
}
.ourStorySection {
    grid-column: 1 / span 2;
    grid-row: 4;
    padding: 10px 0 10px 0;
    background-color: #af8cf0;
    box-shadow: -10px -10px -30px -10px white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.ourStorySection::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    box-shadow: inset 0 0 10px 25px white;
    border-radius: inherit;
}
.aboutUsPosition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 10%;
}
.aboutUsText h2, .aboutUsText h3, .aboutUsText p {
    margin: 0;
    padding: 0;
    max-width: 800px;
    font-family: cursive;
    text-align: center;
}
.aboutUsText p {
    padding-top: 2%;
}
.aboutUsText h2 {
    font-size: 40px;
    color: purple;
    font-style: italic;
    text-shadow: 2px 6px 2px gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Join Us section */
.joinUsContainer {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30% 70%;
    margin-top: 60px;
    background: linear-gradient(135deg, rgb(48, 161, 161), rgb(245, 219, 153), rgb(158, 46, 185));
}
.joinUsSection {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 60px 0 60px;
    gap: 30px;
    border-right: solid lightgray 1px;
}
.joinUsSection h3 {
    font-size: 50px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 10px 20px 10px gray;
}
.joinUsSection p {
    max-width: 500px;
    font-family: cursive;
    font-size: 17px;
    color: rgb(57, 15, 95);
}
.createAccountSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.createAccountSection button {
    border-radius: 25px;
    padding: 2% 5% 2% 5%;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    background-color: rgb(245, 227, 125);
    font-family: cursive;
    font-weight: 800;
    font-size: 13px;
}
.createAccountSection button:hover {
    transition: ease-out 0.2s;
    transform: scale(1.1);
}
.createAccountSection a {
    width: 50%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.createAccountSection h3 {
    margin: 0;
    padding: 0;
}
.signInSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    border-top: solid lightgray 1px;
}
.signInSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    height: 70%;
}
.signInSection h3 {
    padding-bottom: 3%;
    margin: 0;
}
.signInSection p {
    padding: 0;
    margin: 0;
}
.signInSection h4 {
    padding: 0;
    margin: 0;
    padding-top: 1%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap}
.signInSection button {
    border-radius: 25px;
    padding: 1% 5% 1% 5%;
    width: 100%;
    max-width: 100px;
    cursor: pointer;
    background-color: rgb(245, 227, 125);
    font-family: cursive;
    font-weight: 800;
    font-size: 13px;
}
.signInSection button:hover {
    transition: ease-out 0.2s;
    transform: scale(1.1);
}
.signInSection a {
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.signInSection input {
    border-radius: 15px;
    width: 50%;
    padding-left: 3%;
}
.signInSection input:hover {
    transition: ease-out 0.2s;
    transform: scale(1.1);
}
.forgotPasswordA h4{
    margin: 0;
    padding: 0;
}

/* What's New section */
.whatsNewSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 18% 1fr 18% 1fr;
    max-height: 1000px;
    padding-bottom: 30px;
    border-top: solid lightgray 2px;
    margin-top: 60px;
}
.whatsNewTitle {
    grid-column: 1 / span 6;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsNewTitle h3 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 6px 6px 6px gray;
    color: rgb(59, 13, 185);
}
.luigiBusGif {
    grid-column: 1;
    grid-row: 2 ;
}
.luigiBusGif img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.luigiBusDescription {
    grid-column: 2;
    grid-row: 2;
}
.luigi3dGif {
    grid-column: 3;
    grid-row: 2;
}
.luigi3dGif img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.luigiMarioGif img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gifHover img:hover {
    transform: scale(1.9);
    transition: 0.2s;
    border-radius: 25px;
}
.luigiShopInvite {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopNowButton {
    grid-column: 6;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.luigiShopPhotos {
    grid-column: 1 / span 5;
    grid-row: 4;
    display: flex;
}
.product1 img, .product2 img, .product3 img, .product4 img, .product5 img{
    height: 70%;
    width: 70%;
    object-fit: contain;
    background-color: transparent;
}
.product1, .product2, .product3, .product4, .product5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    box-shadow: 0 0 15px 10px lightgray;
    background: linear-gradient(45deg, rgba(202, 175, 252, 0.774), rgb(241, 241, 218), rgb(243, 247, 225), rgb(124, 194, 83));
}
.productHover:hover {
    transform: scale(1.3);
    transition: 0.2s;
    box-shadow: none;
}

.descriptionStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-right: 3%;
}
.descriptionStyle h4 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
    color: goldenrod;
}
.descriptionStyle p {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
.descriptionStyle button {
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
    background-color: rgb(245, 227, 125);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.descriptionStyle button:hover {
    transition: 0.2s;
    transform: scale(1.1);
    background-color: rgba(252, 214, 0, 0.973);
}
.luigiBusDescription {
    background-color: rgb(104, 67, 165);
}
.luigi3dDescription {
    background-color: rgb(64, 64, 151);
}
.luigiMarioBack {
    background-color: #a73f0b;
}
.shopNowButton button {
    border-radius: 25px;
    padding: 25px;
    font-size: 20px;
    font-family: monospace;
    font-weight: 900;
    transition: box-shadow 0.3s ease;
    box-shadow: 4px 4px 20px rgb(14, 13, 3);
    background-color: gold;
    cursor: pointer;
}
.product1 a, .product2 a, .product3 a, .product4 a, .product5 a  {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
    height: 70%;
    width: 70%;
}
.luigiShopInvite {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 6px 6px 6px lightblue;
    color:  rgb(155, 115, 14);
}

/*Testimonials Section*/
.testimonialsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 80%;
    height: 400px;
    padding: 0 0 40px 0;
    margin-top: 20px;
    border-top: solid lightgray 2px;
}
.testimonialTitle {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: cursive;
    color: #a73f0b;
    text-shadow: 10px 5px 10px gray;
}
.testimonialText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 107);
    color: white;
    margin-left: 5%;
    gap: 10%;
}
.testimonialPic {
    margin-right: 5%;
    background: linear-gradient(135deg, lightgray, gray);
}
.testimonialPic img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}
.testimonialText h3 {
    color: goldenrod;
    font-size: 25px;
    text-align: center;
}
.testimonialText p {
    padding: 0 15% 0 15%;
    text-align: center;
    font-style: italic;
    font-size: 17px;
}

/* Email Us section */
.contactUsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: solid lightgray 2px;
    padding: 15px 0 20px 0;
    border-bottom: solid lightgray 2px;
    height: 400px;
}
.mapSection {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b7c79a;
    box-shadow: -10px -10px -30px -10px white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.mapSection::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    box-shadow: inset 0 0 10px 30px white;
    border-radius: inherit;
}
.emailUsSection {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20% 0 20%;
    border-left: solid 2px lightgray;
    background-color: #f3f1e3;
    box-shadow: -10px -10px -30px -10px white;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.emailUsSection::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    box-shadow: inset 0 0 10px 30px white;
    border-radius: inherit;
}
.emailUsSection form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding-left: 20%;
}
.emailUsSection h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.emailUsSection label{
    padding: 3% 0 1% 0;
}
#name, #phone, #email {
    width: 70%;
}
#submitEmail {
    width: 50%;
    margin-left: 25%;
}

/* Visit our offices section*/


/*Footer section*/
footer {
    color: white; /*general font color*/
    height: 400px;
}

.footer-container { /*grid template*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15% 55% 15% 15%;
    height: 400px;
}

.footer-ecofriendly {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #85C553, #3B67D9);
}
.footer-ecofriendly h3 {
    font-weight: 200;
    border-bottom: dashed 1px white;
}
.footer-ecofriendly img {
    height: 35px;
    margin-right: 15px;
}
.footer-downloadApp {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #122868;
    gap: 25px;
}
.footer-downloadApp a {
    border-radius: 25px;
    width: 70%;
    max-width: 200px;
    height: 20%;
    max-height: 41px;
    background-color: #F1641E;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-downloadApp button {
    font-size: 15px;
    color: white;
    font-weight: 600;
    background-color: transparent;
    border: none;
}
.footer-downloadApp a:hover {
    background-color: green;
    transform: scale(1.20);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

.footer-socialMedia {
    display: grid;
    grid-column: 3 / span 4;
    grid-row: 4/5;
    align-items: center;
    justify-content: center;
    background-color: #222222;
}
.footer-socialMedia ul {
    list-style: none;
    display: flex;
    gap: 60px;
    font-style: oblique;
    font-weight: 600;
}
.footer-socialMedia li {
    font-size: 18px;
    cursor: pointer;
}
.footerLanguage {
    grid-column: 1/span 2;
    grid-row: 4/5;
    background-color: #222222;
    align-items: center;
    display: flex;
}
.footerLanguage ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 12px;
}
.footerLanguage li {
    cursor: pointer;
}
.footerLanguage img {
    height: 10px;
    padding-right: 5px;
}
.footerShopMenu, .footerSellMenu, .footerAboutMenu, .footerHelpMenu {
    background-color: #2638C0;
    grid-row: 2/span 2;
    align-items: center;
    display: grid;
}
.footerShopMenu ul, .footerSellMenu ul, .footerAboutMenu ul, .footerHelpMenu ul {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-left: 30px;
}
.footerShopMenu li, .footerSellMenu li, .footerAboutMenu li, .footerHelpMenu li {
    margin-bottom: 15px;
    cursor: pointer;
}


/*Estilo pagina links.html*/
.containerPaginaLinks {
    background-color: gray;
}